body {
    color: rgb(0, 0, 0);
    background-color: rgb(198, 201, 201);
    /*background-image: url("papers.co-ax42-coding-dark-computer-bokeh-illustration-art-black-3840x2400.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
background-blend-mode: lighten;}
h1 {
    text-align: center;
    color: rgb(46, 30, 30);
    }
p {
    font-size: 1.2em;
   }
#container {
    background-color: rgb(224, 213, 199);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}
footer {
    text-align: center;
    font-size: 10px;
}
.list {
      display: inline-block;
      text-align: center;
}
#item {
    
    font-family: cursive;
}
