body {
    color: rgb(0, 0, 0);
    /*background-color: rgb(198, 201, 201);*/
    background-image: url("myphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    
}
h1 {
    text-align: center;
    color: rgb(46, 30, 30);
    }
p {
    font-size: 1.2em;
   }
#container {
    background-color: rgb(224, 213, 199);
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    border-radius: 25px;

}
footer {
    text-align: center;
    font-size: 10px;
    color: rgb(255, 255, 255);
}
.list {
      display: inline-block;
      text-align: center;
}
#item {
    
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}
nav {
  
  justify-content: center;
  gap: 1rem;

  /*background-color: rgba(0,0,0,0.05);*/
}
